python-dotenv
requests
langchain
langchain-groq
langchain_google_genai
fastapi
uvicorn
gunicorn
ragas
datasets
sentence-transformers
pandas
streamlit
plotly
supabase
python-dotenv
pydantic
python-multipart
pydantic-settings